:root {
  --theme-light-grey: #8a8a8a;
  --theme-dark-grey: #3f3453;
  --theme-dark-blue: #2687bb;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
body {
  color: var(--theme-light-grey);
  font-family: "Lato", sans-serif;
}
/* top bar  */
.top-bar {
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  padding: 23px 0px;
}
.stock > .stock-up {
  color: #2ecc71;
}
.stock > .stock-down {
  color: #ee4f6f;
}

/* navbar  */
nav {
  border-bottom: 1px solid #e1e1e1;
}
.nav-item .nav-link {
  color: var(--theme-light-grey);
}
.nav-btn-cont {
  border: 1px solid var(--theme-dark-blue);
  border-radius: 8px;
  padding: 15px 20px;
  gap: 15px;
  margin-left: 1.125rem;
}
.nav-btn-cont a {
  text-decoration: none;
  color: var(--theme-dark-blue);
  font-weight: 700;
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1.125rem;
  padding-left: 1.125rem;
}

/* hero section  */

section.hero-section {
  height: 700px;
  background: url("../images/hero.png") no-repeat;
  background-position: right;
  padding-top: 8.875rem;
}

section.hero-section h1 {
  color: var(--theme-dark-grey);
  font-weight: 700;
}
section.hero-section .hero-btn {
  background: linear-gradient(84.73deg, #298ebc 0%, #5ce5d7 97.71%);
  border-radius: 8px;
  border: unset;
  color: #fff;
}
.sub-heading {
  font-size: 14px;
  margin-top: 2rem;
}
.hero-content {
  padding-right: 5rem;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999999;
}

.sticky + .content {
  padding-top: 60px;
}
.hero-features-img {
  background: #6b617c;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.hero-features {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.hero-margin {
  margin-top: 5.5rem;
}
.about {
  background: #e9e8f0;
}
.about h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.blue-heading {
  color: var(--theme-dark-blue);
}
.gray-heading {
  color: var(--theme-dark-grey);
}
.about .about-sub-heading {
  font-size: 0.875rem;
}
.about .about-content {
  margin-top: 2.5rem;
}
.about h3 {
  font-size: 1.25rem;
  color: var(--theme-dark-grey);
  font-weight: 700;
}
.about .about-video-box video {
  width: 100%;
  min-height: 580px;
  position: relative;
}
.services {
  background: url(../images/service-background.png) no-repeat center;
}
.services h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.services h3 span {
  display: block;
}
.service-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2.188rem;
}
.service-box span {
  font-size: 0.875rem;
  color: #000;
  line-height: 17px;
}
.service-card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 67.27%
  );
  border: 2px solid #e1e1e1;
  box-shadow: 0px 5px 10px 5px rgba(36, 123, 195, 0.05);
  border-radius: 15px;
}
